:root {
  --blue: #4685FE;
  --green: #37ee9c;
  --white: #FFFFFF;
  --gray-light: #F7F7F7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}